<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>ZJJDownloadManager.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>F5C1D05C1D76ABEE00042DA1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F5C1D0751D76ABEF00042DA1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F5C1D0801D76ABEF00042DA1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
